@use '@angular/material' as mat;

@include mat.core();

// Creamos tema base Material 3
$uts-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette
  )
));

@include mat.all-component-themes($uts-theme);

// 🔥 Forzamos el verde institucional exacto
:root {
  --mdc-theme-primary: #C7D22C;
  --mdc-theme-on-primary: #000000;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.snackbar-success .mdc-snackbar__surface {
  background-color: #6cbf6d !important;
  color: #ffffff !important;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: #db6460 !important;
  color: #ffffff !important;
}

.snackbar-success .mdc-button__label {
  color: #ffffff !important;
  font-weight: 600;
}

.snackbar-error .mdc-button__label {
  color: #ffffff !important;
  font-weight: 600;
}